/*
 * custom (header / footer / content)
 */

body {
	background-color: #FFFFFF; /* #f7f8fa */
}

#wrap {
	display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    
	/*background: url("../img/04_bg/History.png") top center / 100% 100% no-repeat;*/
    background-color: #f2f2f2;
	width: 100%;
	height: 100%;
}

#header {
	position: relative;
	background-color: #FFFFFF;
}

#header-content {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 3em;
}

#header-content div {
	float: left;
}

#header-content div#left {
	width: 20%;
}

#header-content div#right {
	width: 20%;
}

#header-content div#center {
	width: 60%;
}

/* left */

#header-content div#left ul {
	display: inline-block;
	width: 100%;
}

#header-content div#left ul li {
	float: left;
	width: 100px;
	padding-top: 10px;
	padding-left: 10px;
	text-align: left;
}

/* right */

#header-content div#right ul {
	display: inline-block;
	width: 100%;
}

#header-content div#right ul li {
	float: right;
	width: 30px;
	padding-top: 10px;
	padding-right: 10px;
	text-align: right;
}

/* center */

#header-content div#center ul {
	display: inline-block;
	width: 100%;
}

#header-content div#center ul li {
	display: block;
	padding-top: 10px;
	padding-right: 10px;
	text-align: center;
}

/*#header {
	display: none !important;
}*/

/*#container {
	margin-bottom: 0 !important;
}

#content {
	bottom: 0 !important;
}*/

/*
#footer {
	display: none !important;
}
*/

#footer {
	position: relative;
	background-color: #FFFFFF;
}

#footer-content {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 3em;
}

#footer-content div {
	/*float: left;
	width: 100%;*/
}

/*
 * custom main style
 */

div.main-topic-cover {
	display: block;
	margin: 20px 0;
	text-align: center;
}

ul.main-topic {
	display: inline-block;
	padding: 10px 20px;
	width: 260px;

	/*border-radius: 5px;
	border: 0;
	background-color: #FFFFFF;*/
}

ul.main-topic li {
	display: block;
	padding: 5px 0;
	text-align: left;
}

span.main-topic-text1 {
	font-size: 1.1em;
	color: #161e2d;
}

span.main-topic-text2 {
	font-size: 0.8em;
	color: #6a6c6a;
}

span.main-topic-text3 {
	font-size: 1.1em;
	color: #161e2d;
}

span.main-topic-text4 {
	font-size: 2.2em;
	color: #03A2FC;
}

div.main-queue-cover {
	display: block;
	margin: 20px 0;
	text-align: center;
}

ul.main-queue {
	display: inline-block;
	padding: 10px;
	width: 280px;
	border-radius: 20px;
	border: 0;
	background-color: #FFFFFF;
}

ul.main-queue li.item1 {
	float: left;
	text-align: left;
}

ul.main-queue li.item2 {
	position: relative;
	float: right;
	width: 100px;
	text-align: center;
}

ul.main-queue-sub {
	display: block;
	margin: 5px 0;
}

ul.main-queue-sub li {
	display: block;
	padding-top: 5px;
	padding-left: 5px;
	text-align: left;
	clear: both;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	/*word-wrap: break-word;*/
}

span.mlist1 {
	font-size: 1.1em;
	color: #6a6c6a;
}

span.mlist2 {
	font-size: 0.9em;
	color: #4985ff;
}

ul.main-queue li.item2 span {
	position: absolute;
	top: -10px;
	right: -10px;

	display: inline-block;
	width: 55px;
	height: 55px;
	padding: 5px;
	background-color: #4985ff;
	color: #FFFFFF;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
}

ul.main-queue li.item2 span i {
	padding-top: 10px;
	font-size: 35px;
	color: #FFFFFF;
}

div.main-queue2 {
	display: inline-block; 
	width: 98%; 
	height: 150px; 
	background-color: #FFFFFF;
	border-radius: 5px;
	border: 2px solid #eae9ee;
}

ul.main-queue2 {
	display: block; 
	width: 100%;
}

ul.main-queue2 li {
	margin-top: 20px;
	text-align: center;
}

/*
div.main-queue2 {
	display: inline-block; 
	width: 98%; 
	height: 150px; 
	background-image: linear-gradient(to right, #03A2FC , #7DF1CD);
	border-top-right-radius: 15px; 
	border-top-left-radius: 15px; 
	border-bottom-right-radius: 15px; 
	border-bottom-left-radius: 15px;
}

ul.main-queue2 {
	display: block; 
	width: 100%;
}

ul.main-queue2 li {
	margin-top: 20px;
	text-align: center;
}
*/

.mg-tp-0 {
	margin-top: 0 !important;
}

.mg-tp-20 {
	margin-top: 20px;
}

.ta-ct {
	text-align: center !important;
}

.main-queue3 {
	width: 81px;
	border: 5px solid #eae9ee;
	border-radius: 50%;
}

/*
.main-queue3 {
	width: 81px;
	border: 5px solid #03A2FC;
	border-radius: 50%;
}
*/

/*
.main-queue3 {
	width: 81px;
	border: 5px solid;
	border-image: linear-gradient(45deg, rgb(3,162,252), rgb(125,241,205)) border-box;
	border-radius: 50%;

	-webkit-mask:
     linear-gradient(#fff 0 0) padding-box, 
     linear-gradient(#fff 0 0);
	 -webkit-mask-composite: xor;
    	mask-composite: exclude;
}
*/

/*
 * data empty
 */

ul.main-empty {
	display: inline-block;
	width: 100%;
}

ul.main-empty li {
	display: block;
	text-align: center;
	padding: 10px;
}

span.main-empty-text {
	font-size: 0.8em;
	color: #6a6c6a;
}

/*
 * text style
 */

span.header-name {
	/****/
}

/*
 * input style
 */

 input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset] {
	font-family: 'Prompt', sans-serif;
	font-size: 0.9em;
	color: #FFFFFF;
	
	padding: 15px 30px;
	
	background-color: #cbdbfc;
	border-radius: 50px;
	border: 0;
	text-decoration: none;
}

input[type=text], input[type=password] {
	font-familypage-slideIn: 'Prompt', sans-serif;
	
	width: 200px;
	padding: 10px;
	
	box-sizing: border-box;
	background-color: #FFFFFF;
	border-radius: 10px;
	border: 0;

	font-size: 1.5em;
	text-align: center;
}

/*
 * custom history style
 */

div.history-queue-cover {
	display: block;
	margin: 10px;
	text-align: center;
}

div.history-sub-queue {
	display: block;
	padding: 10px;

	background-color: #FFFFFF;
	border: 2px solid #eae9ee;
	border-radius: 5px;
}

ul.history-queue {
	display: inline-block;
	width: 100%;
}

/*
ul.history-queue {
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #BCBCBC;

	background-color: #FFFFFF;
	border: 2px solid #eae9ee;
	border-radius: 5px;
}
*/

ul.history-queue li {
	float: left;
	width: 50%;
}

/*
ul.history-queue li img {
	width: 100%;
	border-radius: 20px;
	border: 0;
}

ul.history-queue li.item2 {
	padding-left: 5px;
	text-align: left;
}
*/

/*
 * data empty
 */

ul.history-empty {
	display: inline-block;
	width: 100%;
}

ul.history-empty li {
	display: block;
	text-align: center;
	padding: 20px;
}

span.history-empty-text {
	font-size: 0.8em;
	color: #161e2d;
}

/*
 * text style
 */

span.header-name {
	/****/
}

span.history-queueheader-text {
	font-size: 1em;
	color: #6a6c6a;
}

span.history-queueheader-sub-text {
	font-size: 0.8em;
	color: #6a6c6a;
}

span.history-queue-text {
	font-size: 0.8em;
	color: #6a6c6a;
}

span.history-queue-sub-text {
	display: inline-block;
	padding: 5px;
	font-size: 1em;
}

span.history-queue-sub-text2 {
	display: block;
	padding: 5px;
	font-size: 0.7em;
	color: #161e2d;
}

/*
 * loadmore style
 */

 .history-loadmore-detail {
	display: block;
	margin: 20px 0;
	text-align: center;
}

.history-loadmore-detail span {
	display: inline-block;
	font-family: 'Prompt', sans-serif;
	font-size: 0.8em;
	color: #FFFFFF;
   
	padding: 10px 20px;
   
	background-color: #6a6c6a;
	border-radius: 50px;
	border: 0;
}

/*
 * custom scanqr style
 */

div.scanqr-queueheader-cover {
	display: block;
	margin: 20px;
	padding: 20px;
	text-align: center;

	/*background-image: linear-gradient(to right, #03A2FC , #7DF1CD);
	border-radius: 50px;*/
}

ul.scanqr-queueheader {
	display: inline-block;
	padding: 10px 20px;
	width: 260px;
}

ul.scanqr-queueheader li {
	display: block;
	padding: 5px 0;
	text-align: center;
}

/*
 * text style
 */

 span.header-name {
	/****/
}

span.scanqr-queueheader-text {
	font-size: 1em;
	color: #BCBCBC;
}


/*
 * custom notification style
 */

 div.notification-queue-cover {
	display: block;
	margin: 10px;
	text-align: center;
}

div.notification-sub-queue {
	display: block;
	padding: 10px;

	background-color: #FFFFFF;
	border: 2px solid #eae9ee;
	border-radius: 5px;
}

ul.notification-queue {
	display: inline-block;
	width: 100%;
}

ul.notification-queue li {
	float: left;
}

ul.notification-queue li.left {
	float: left;
	width: 20%;
	text-align: center;
}

ul.notification-queue li.right {
	float: left;
	width: 80%;
	text-align: left;
}

/*
 * data empty
 */

ul.notification-empty {
	display: inline-block;
	width: 100%;
}

ul.notification-empty li {
	display: block;
	text-align: center;
	padding: 20px;
}

span.notification-empty-text {
	font-size: 0.8em;
	color: #161e2d;
}

/*
 * text style
 */

span.header-name {
	/****/
}

span.notification-queueheader-text {
	font-size: 1em;
	color: #6a6c6a;
}

span.notification-queueheader-sub-text {
	font-size: 0.8em;
	color: #6a6c6a;
}

span.notification-queue-text {
	font-size: 0.8em;
	color: #6a6c6a;
}

span.notification-queue-sub-text {
	display: inline-block;
	padding-top: 5px;
	font-size: 1em;
}

span.notification-queue-sub-text2 {
	display: block;
	padding-top: 5px;
	font-size: 0.7em;
	color: #161e2d;
}

/*
 * loadmore style
 */

 .notification-loadmore-detail {
	display: block;
	margin: 20px 0;
	text-align: center;
}

.notification-loadmore-detail span {
	display: inline-block;
	font-family: 'Prompt', sans-serif;
	font-size: 0.8em;
	color: #FFFFFF;
   
	padding: 10px 20px;
   
	background-color: #6a6c6a;
	border-radius: 50px;
	border: 0;
}


/*
 * custom more style
 */

 div.more-queue-cover {
	display: block;
	margin: 10px;
	text-align: center;
}

div.more-sub-queue {
	display: block;
	padding: 10px;
	padding-bottom: 5px;

	background-color: #FFFFFF;
	border: 2px solid #eae9ee;
	border-radius: 5px;
}

ul.more-queue {
	display: inline-block;
	width: 100%;
}

ul.more-queue li {
	float: left;
}

ul.more-queue li.left {
	float: left;
	width: 70px;
	padding-right: 7px;
	text-align: center;
}

ul.more-queue li.right {
	float: left;
	text-align: left;
}

/*
 * more-queue2
 */

div.more-sub-queue2 {
	display: block;
	padding: 5px;
	padding-bottom: 0 !important;

	background-color: #FFFFFF;
	border: 2px solid #eae9ee;
	border-radius: 5px;
}

ul.more-queue2 {
	display: inline-block;
	width: 100%;
}

ul.more-queue2 li {
	float: left;
}

ul.more-queue2 li.left {
	float: left;
	width: 50px;
	padding-right: 3px;
	text-align: center;
}

ul.more-queue2 li.right {
	float: left;
	text-align: left;
}

/*
 * data empty
 */

ul.more-empty {
	display: inline-block;
	width: 100%;
}

ul.more-empty li {
	display: block;
	text-align: center;
	padding: 20px;
}

span.more-empty-text {
	font-size: 0.8em;
	color: #161e2d;
}

/*
 * text style
 */

span.header-name {
	/****/
}

span.more-queueheader-text {
	font-size: 1em;
	color: #6a6c6a;
}

span.more-queueheader-sub-text {
	font-size: 0.8em;
	color: #6a6c6a;
}

span.more-queue-text {
	font-size: 0.8em;
	color: #6a6c6a;
}

span.more-queue-sub-text {
	display: inline-block;
	padding-top: 5px;
	font-size: 1em;
}

span.more-queue-sub-text2 {
	display: block;
	padding-top: 5px;
	font-size: 0.7em;
	color: #161e2d;
}

/*
 * loadmore style
 */

 .more-loadmore-detail {
	display: block;
	margin: 20px 0;
	text-align: center;
}

.more-loadmore-detail span {
	display: inline-block;
	font-family: 'Prompt', sans-serif;
	font-size: 0.8em;
	color: #FFFFFF;
   
	padding: 10px 20px;
   
	background-color: #6a6c6a;
	border-radius: 50px;
	border: 0;
}


/*
 * custom register style
 */

 div.register-topic-cover {
	display: block;
	margin: 20px 0;
	text-align: center;
}

ul.register-topic {
	display: inline-block;
	padding: 10px 20px;
	width: 260px;

	/*border-radius: 5px;
	border: 0;
	background-color: #FFFFFF;*/
}

ul.register-topic li {
	display: block;
	padding: 5px 0;
	text-align: left;
}

span.register-topic-text1 {
	font-size: 1.1em;
	color: #161e2d;
}

span.register-topic-text2 {
	font-size: 0.8em;
	color: #6a6c6a;
}

span.register-topic-text3 {
	font-size: 1.1em;
	color: #161e2d;
}

span.register-topic-text4 {
	font-size: 2.2em;
	color: #03A2FC;
}

div.register-queue-cover {
	display: block;
	margin: 20px 0;
	text-align: center;
}

ul.register-queue {
	display: inline-block;
	padding: 10px;
	width: 280px;
	border-radius: 20px;
	border: 0;
	background-color: #FFFFFF;
}

ul.register-queue li.item1 {
	float: left;
	text-align: left;
}

ul.register-queue li.item2 {
	position: relative;
	float: right;
	width: 100px;
	text-align: center;
}

ul.register-queue-sub {
	display: block;
	margin: 5px 0;
}

ul.register-queue-sub li {
	display: block;
	padding-top: 5px;
	padding-left: 5px;
	text-align: left;
	clear: both;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	/*word-wrap: break-word;*/
}

span.mlist1 {
	font-size: 1.1em;
	color: #6a6c6a;
}

span.mlist2 {
	font-size: 0.9em;
	color: #4985ff;
}

ul.register-queue li.item2 span {
	position: absolute;
	top: -10px;
	right: -10px;

	display: inline-block;
	width: 55px;
	height: 55px;
	padding: 5px;
	background-color: #4985ff;
	color: #FFFFFF;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
}

ul.register-queue li.item2 span i {
	padding-top: 10px;
	font-size: 35px;
	color: #FFFFFF;
}

div.register-queue2 {
	display: inline-block; 
	width: 98%; 
	height: 150px; 
	background-color: #FFFFFF;
	border-radius: 5px;
	border: 2px solid #eae9ee;
}

ul.register-queue2 {
	display: block; 
	width: 100%;
}

ul.register-queue2 li {
	margin-top: 20px;
	text-align: center;
}

.mg-tp-0 {
	margin-top: 0 !important;
}

.mg-tp-20 {
	margin-top: 20px;
}

.ta-ct {
	text-align: center !important;
}

.register-queue3 {
	width: 81px;
	border: 5px solid #eae9ee;
	border-radius: 50%;
}

/*
 * data empty
 */

ul.register-empty {
	display: inline-block;
	width: 100%;
}

ul.register-empty li {
	display: block;
	text-align: center;
	padding: 10px;
}

span.register-empty-text {
	font-size: 0.8em;
	color: #6a6c6a;
}