/*
 * menubar style
 */

 ul.nav {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 100%;
}
  
ul.nav li {
	float: left;
	width: 25%;
	height: 3em;
    font-size: 16px;
    color: #161e2d; /* #BCBCBC */
	text-align: center;
	overflow: hidden;
}

.nav__icon {
	padding-top: 7px;
}

.nav__link--active {
	color: #03A2FC !important; /* #1967cb */
}
  
.slider {
	display: block;
	position: absolute;
	top: 0;
	left: 0%; /* tab1=0% / tab2=25% / tab3=50% / tab4=75% */
	height: 3px !important;
	background-color: #03A2FC !important;
	transition: all 0.5s;
}

/*
 * custom style
 */

p.nav__menu {
	position: relative; 
	display: inline-block; 
	width: 50px;
}

span.nav__menu__txt {
	position: absolute; 
	bottom: -7px; 
	right: 0px; 
	display: block;
	width: 100%;
	font-size: 0.6em;
}