/* The Modal (background) */
.modaldata {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: box-fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: box-fadeIn;
    animation-duration: 0.4s
  }
  
  /* Modal Content */
  .modaldata-content {
    position: fixed;
    bottom: 0;
    background-color: #FFFFFF;
    width: 100%;
    height: 80%;
    -webkit-animation-name: box-slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: box-slideIn;
    animation-duration: 0.4s
  }
  
  .modaldata-header {
    padding: 10px 20px;
    background-color: #FFFFFF;
    color: #6a6c6a;
  }
  
  .modaldata-body {
    padding: 10px 20px;
    background-color: #FFFFFF;
    color: #6a6c6a;
  
    height: 80%;
    overflow: auto;
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .modaldata-body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE and Edge */
  .modaldata-body {
    /* IE 11 */
    -ms-overflow-style: none;
  
    /* Firefox 64 */
    scrollbar-width: none;
  }
  
  /* headmenu */
  ul.modaldata-headmenu {
    display: inline-block;
    width: 100%;
  }
  
  ul.modaldata-headmenu li {
    padding-top: 10px;
  }
  
  ul.modaldata-headmenu li.item1 {
    float: left;
  }
  
  ul.modaldata-headmenu li.item2 {
    float: right;
  }
  
  /* menu */
  ul.modaldata-menu {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #FAF9FA;
  }
  
  ul.modaldata-menu li {
    display: block;
    padding: 5px 0;
    font-size: 1em;
    color: #6a6c6a;
    text-align: center;
  }

  div.btn-modaldata {
    display: inline-block; 
    margin-top: 10px; 
    padding: 10px 20px; 
    background: #03A2FC;
    border-radius: 15px; 
    text-align: center;
  }
  
  /* empty data */
  /*ul.modaldata-empty {
      display: inline-block;
      width: 100%;
  }
  
  ul.modaldata-empty li {
      display: block;
      text-align: center;
      padding: 10px;
  }
  
  span.modaldata-empty-text {
      font-size: 0.8em;
      color: #6a6c6a;
  }*/
  
  /* Add Animation */
  @-webkit-keyframes page-slideIn {
    from {left: 100%; opacity: 0}
    to {left: 0; opacity: 1}
  }
  
  @keyframes page-slideIn {
    from {left: 100%; opacity: 0}
    to {left: 0; opacity: 1}
  }
  
  /* Add Box/Popup/Menu */
  @-webkit-keyframes box-slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes box-slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes box-fadeIn {
    from {opacity: 0}
    to {opacity: 1}
  }
  
  @keyframes box-fadeIn {
    from {opacity: 0}
    to {opacity: 1}
  }